.cart{
  border-radius: 10px;
  border: 2px solid rgb(140, 106, 106);
  box-shadow: 5px 5px 5px rgb(113, 109, 109);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width:  200px;
  display: inline-block;
  background-color: aqua;
}

.cart .card-img{
  max-width: 50%;
  border-radius: 50%;
  height: auto;
  margin: 10px;
  border: 2px solid rgb(59, 59, 58);
  background-color: blanchedalmond;
}